.next
.source
.turbo
cdk.out
coverage
dist
node_modules
pnpm-lock.yaml
apps/web/next-env.d.ts
packages/contracts/lib
packages/contracts/out
packages/contracts/cache
packages/contracts/broadcast
packages/economy-hedera/artifacts
packages/economy-hedera/cache
packages/economy-hedera/typechain-types
